body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

input {
    width: 70%; //this makes good spacing
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

.product h2 {
    font-size: 1.2em;
    margin: 0;
}

.product p {
    margin: 0;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}