doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")

    title Error

    link(rel="stylesheet", href="/style.css")

  body
    h1= type
    p= message
