doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")

    title Error

  body
    nav
      a(href="/products") Products
      span  • 
      a(href="/orders") Orders

    h1 Error
    p= message
